/* */

.allproducts{

    /* margin-top: 1000px; */
    /* padding: 40px; */
    /* padding-left: 20%; */
    padding-top: 150px;
    width: 90vw;
    /* background-color: red; */
}

#mainLogo {
    color:rgb(44, 44, 110);
    font-family: "Georgia", serif;
    margin-left: 5px;
}

#ordersicon{
width: 50px;
    
border-color: aliceblue;
    
}

#SignupButton{
    background-color: rgb(44, 44, 110);
    
}
#loginbutton a{
    text-decoration: none;
    color:black;
}
#SignupButton a{
    text-decoration: none;
    color: aliceblue;
}
#SignupButton:hover{
   background-color: rgb(6, 94, 126);
   border-color: rgb(6, 94, 126);
}
#home a{
    text-decoration: none;
    color: black;
}
#loginbutton a:hover{
    color:rgb(44, 44, 110);
    ;
}
#home a:hover{
    color:rgb(44, 44, 110);
    ;
}
#hometext{
    box-align:center
}
.allproducts{
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(450px , 550px));
    /* grid-template-rows:  repeat(3,40vh); */
    grid-gap: 35px;
    /* background-color: red; */
    justify-content: center;
    align-content:center;
    margin:3px;
}
.products{
    background-color: rgb(246, 246, 246);
    /* color: white; */
    overflow: hidden;
    margin: 10px;
    height: 50vh;
    /* width: 40vw; */
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.products form{
    display: flex;
    /* background-color: red; */
}

.products button{

    border: 0px;
    background-color: transparent;
    display: flex;

}

.img{
    background-color:aliceblue;
    height: 100%;
    width:45%;
    display: flex;
    align-items: center;
}
.details{
    background-color: rgb(246, 246, 246);
    height: 100%;
    width: 55%;
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
/*.det{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}*/
.details a{
    text-decoration: none;
    color:black;
}
.details:hover{
    background-color: rgb(245, 240, 240);
}
h2{
    
    font-weight: 500;
}
h3{
    
    font-weight: 600;
}
h4{
    
    font-weight: 500;
}
h5{
    font-weight:500 ;
}
h7{
    font-weight: 500;
    color: red;
}
.details *{
    margin: 4px;
}
