
*{

    font-family: sans-serif;
}

body{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainBox{

    /* border: 1px solid rgb(160, 160, 160); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    height: 70vh;
    width: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainBox input{

    width: 60%;
    margin: 10px;
    font-size: 16px;

    padding: 5px;
}

#submit_button{

    background-color: blue;
    color: white;
    padding: 8px 20px;
    border: 0px;
    margin-top: 10px;

}

#signup_link{
    /* background-color: red; */
    width: 60%;
    text-align: left;
}

#signup_link a{

    text-decoration: none;

}